:root{
    --nav-bg-color :#000;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: rgb(46, 45, 45);
    font-family: 'Open Sans', sans-serif;
    height: auto;
    width: 100vw;
    overflow-x: hidden;
}



/* ------------------------------------------- */
.main-first-slider{
    background-color: rgb(31, 30, 30);
    padding: 10px;
}
.main-first-slider-title{
    padding: 18px 8px;
    margin-left: 45px;

}
.main-first-slider-title h1{
font-size: 23px;
color: white;
}

.slider-container{
    max-width: 95vw;
    margin: 15px auto;
}
.item-video{
    position: relative;
}
#avatar-and-title-slider {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20%;
    background-color: rgba(34, 33, 33, 0.52);
    left: 0;
    right: 0;
    bottom: -10%;
    margin: 0 auto;
    transition: all .4s cubic-bezier(0.83, 0.07, 0.1, 0.8);
    opacity: 0;
    visibility: hidden;
}
.item-video:hover #avatar-and-title-slider {
    bottom: 0%;
    opacity: 1;
    visibility: visible;
}
.owl-carousel .owl-video-play-icon{
    background: url(https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.video.play.png) !important;
}




/* -------------------------------------------------- */
.main-all-content{
    padding: 10px;
    width: 100%;
}
.main-all-content-title {
    padding: 25px 8px 18px 8px;
    margin-left: 45px;
}
.main-all-content-title h1 {
font-size: 23px;
color: white;
}
.main-all-content-container{

}
.main-all-content-inner {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
justify-content: center;
}
.main-all-single-content-container{
padding: 22px ;
position: relative;
width: 390px;
height: 250px;
}
.main-all-single-content-container:hover #avatar-and-title-main {
/* transform: translateY(-30%); */
bottom: 10%;
opacity: 1;
visibility: visible;

}

.main-all-single-content{
width: 100%;
height: 100%;
}
.main-all-single-content video{
    width: 100%;
    height: 100%;

}



/* --------------------- */
.video-play-button-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.video-play-button{
height: 50px;
width: 50px;
background-image: url(https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.video.play.png
);
background-size: cover;
}

/* ------------------------------ */
#avatar-and-title-main {
position: absolute;
display: flex;
flex-direction: row;
width: 90%;
height: 30%;
background-color: rgba(34, 33, 33, 0.52);
left: 0;
right: 0;
bottom: -10%;
margin: 0 auto;
transition:all .4s cubic-bezier(0.83, 0.07, 0.1, 0.8);
opacity: 0;
visibility: hidden;
}
.avatar-and-video-title{
    width: 100%;
    display: flex;
}
.avatar-and-video-title-left{
    width: 30%;
}
.avatar-container{
width: 100%;
height: 100%;
padding: 13px 20px;
}
.avatar-container .avatar {
width: 50px;
height: 50px;
border-radius: 50px;
background-image: url(../../image/32189.jpg);
background-size: cover;
}

.avatar-and-video-title-right{
    width: 70%;
}

.title-container{

}
.title-container .title{

}
.title-container .title h2 {
font-size: 18px !important;
text-align: center;
margin-top: 19px;
line-height: 10px;
color: rgb(97, 93, 93);
}
.title-container .title p{
font-size: 15px !important;
text-align: center;
margin-bottom: -10px;
color: rgb(0, 0, 0);



}

/* ------------------------------------ */
.footer{
    width: 100%;
    background-color: black;
    margin-top: 20px;
}
.footer-content{
    width: 100%;
    min-height: 30px;
    text-align: center;
    padding: 30px;
}